* {
   margin: 0;
   padding: 0;
   outline: none;
}

hr {
   margin: 10px 0;
}

body {
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.main {
   margin-top: 20px;
   padding: 10px;
   width: 800px;
   height: 50%;
}

h1, h3 {
   font-family: 'Courier New', Courier, monospace;
}

h1 {
   text-align: center;
   padding: 5px 0;
}

.wraper {
   display: flex;
   flex-direction: row;
}

.side {
   width: 50%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.inner-wrapper {
   width: 300px;
}

.form-group {
   display: flex;
   flex-direction: column;
   margin: 10px 0;
   font-family: Arial, Helvetica, sans-serif;
}

.form-group textarea, .form-group input {
   width: 300px;
}

textarea {
   padding: 5px;
   resize: vertical;
   max-height: 200px;
   min-height: 50px;
}

input {
   padding: 3px 5px;
}

.center {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

button {
   padding: 3px;
   font-size: 17px;
   font-weight: bold;
   cursor: pointer;
}

.text {
   font-family: Arial, Helvetica, sans-serif;
}

.text-center {
   text-align: center;
}